.App {
  font-family: sans-serif;
  text-align: center;
}

.todoItems{
  border: 1px solid black;
  width: 50%;
  margin: 0.5rem auto;
}

.todoItems:hover{
  cursor: pointer;
}

.card-component{
  border: 1px solid black;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.stock-warn{
  color: red;
}